[submodule "fmod-love"]
	path = fmod-love
	url = https://github.com/sdleffler/fmod-love
[submodule "src/lib/tiny"]
	path = src/lib/tiny
	url = https://github.com/sdleffler/tiny-ecs
[submodule "src/lib/Slab"]
	path = src/lib/Slab
	url = https://github.com/sdleffler/Slab
	branch = 0.7.0c
[submodule "src/lib/peachy"]
	path = src/lib/peachy
	url = https://github.com/sdleffler/peachy
[submodule "src/lib/HC"]
	path = src/lib/HC
	url = https://github.com/sdleffler/HC
[submodule "src/lib/cpml"]
	path = src/lib/cpml
	url = https://github.com/sdleffler/cpml
